.grid-container
{
    width: 420px;
    height: 420px;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    /* border:1px solid white; */
    gap:15px;
}

.game-message {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  z-index: 10;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.game-message button 
{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #00bcd4;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}


.item
{
    margin-top: 15px;
    margin-left: 15px;
    width: 120px;
    height: 120px;
    /* border:1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px black;
    background-color: #1f3540;
}

.item:hover
{
    background-color: #437086;
}

.item:active
{
    transform: scale(0.95);
}
.item >*
{
    display:none;
}